:root {
    width: auto;
    --primary-color: aliceblue;
    --border-color: black;
    --main-door-color: rgb(163, 72, 12);
    --castle-base-color: rgb(189, 158, 158);
    --brick-door-color: rgb(183, 183, 183);
    --brick-door-shadow-color: rgb(143, 143, 143);
    --door-glow-color: rgba(255, 255, 255, 0.199);
    --window-color: rgb(97, 92, 86);
    --window-shadow-color: rgb(54, 52, 50);
    --tower-shadow-color: rgba(159, 118, 118, 0.555);
    --balcony-color: rgb(229, 198, 198);
    --balcony-shadow-color: rgba(179, 148, 148, 0.555);
    --tower-roof-color: rgb(182, 62, 92);
    --tower-roof-shadow-color: rgb(142, 22, 52, 0.555);
    --tower-roof-sun-color: rgb(222, 102, 132, 0.555);
    --flag-color: rgb(92, 64, 129);
}

/*--tower-shadow-color:rgba(214, 195, 195, 0.555);*/

body {
    background-color: var(--primary-color);
}

.castle {
    /* pour travailler plus efficacement
    à ne pas oublier de modifier */
    position: absolute;
    top: -43%;
    left: 30%;
    height: 100vh;
}

.castle-base {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: 500px;
    height: 350px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    background-color: var(--castle-base-color);
    left: 102px;
    bottom: 334px;
}

.wall-base {
    bottom: -4px;
    position: relative;
    left: 424px;
    bottom: 22px;
    display: inline-flex;
}

.machicolation {
    position: relative;
    width: 16px;
    height: 22px;
    border-bottom: 1px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    background-color: var(--castle-base-color);
}

.machicolation-separation {
    position: relative;
    bottom: 3px;
    width: 104px;
    height: 25px;
    border-bottom: 2px solid var(--border-color);
}

.main-door {
    width: 250px;
    height: 220px;
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    display: block;
    align-self: flex-end;
    position: relative;
    background-color: var(--main-door-color);
    right: 187px;
    z-index: 1;
}

.castle-base,
.main-door {
    justify-content: center;
}

#brick-door1,
#brick-door15 {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 10%;
}

#brick-door1 {
    right: 40px
}

#brick-door15 {
    right: 422px
}

#brick-door2,
#brick-door14 {
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-color);
    border-radius: 30%;
    bottom: 54px;
}

#brick-door2 {
    right: 62px
}

#brick-door14 {
    right: 402px
}

#brick-door3,
#brick-door13 {
    width: 30px;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 25%;
    bottom: 78px;
}

#brick-door3 {
    right: 92px;
    rotate: 1deg;
}

#brick-door13 {
    right: 372px;
    rotate: -1deg;
}

#brick-door4,
#brick-door12 {
    width: 20px;
    height: 32px;
    border: 1px solid var(--border-color);
    border-radius: 10%;
    bottom: 130px;
}

#brick-door4 {
    right: 106px;
    rotate: 15deg;
}

#brick-door12 {
    right: 357px;
    rotate: -15deg;
}

#brick-door5,
#brick-door11 {
    width: 20px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 20%;
    bottom: 162px;
}

#brick-door5 {
    right: 111px;
    rotate: 35deg;
}

#brick-door11 {
    right: 352px;
    rotate: -35deg;
}

#brick-door6,
#brick-door10 {
    width: 25px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 20%;
    bottom: 188px;
}

#brick-door6 {
    right: 114px;
    rotate: 45deg;
}

#brick-door10 {
    right: 349px;
    rotate: -45deg;
}

#brick-door7,
#brick-door9 {
    width: 30px;
    height: 38px;
    border: 1px solid var(--border-color);
    border-radius: 20%;
    bottom: 206px;
}

#brick-door7 {
    right: 108px;
    rotate: 68deg;
}

#brick-door9 {
    right: 354px;
    rotate: -68deg;
}

#brick-door8 {
    width: 60px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 35%;
    bottom: 220px;
    right: 330px;
}

.brick-door {
    position: relative;
    align-self: flex-end;
    background-color: var(--brick-door-color);
    flex-shrink: 0;
    box-shadow: inset -6px 2px var(--brick-door-shadow-color);
}

.brick-door,
.main-door {
    justify-content: center;
}

.door-crack,
.door-glow,
.door-crack-dashed {
    z-index: 1;
    position: relative;
    rotate: 90deg;
}

.door-crack {
    border-bottom: 2px solid var(--border-color);
    display: absolute;
}

.door-crack-dashed {
    width: 4px;
    border-bottom: 4px solid var(--border-color);
}

#door-crack2 {
    width: 222px;
    align-self: center;
    top: 80px;
}

#door-crack1 {
    width: 60px;
    top: 189px;
}

#door-crack1dashed {
    top: 140px;
    left: 28px;
}

#door-crack1bis {
    width: 90px;
    top: 72px;
    right: 16px;
}

#door-crack3 {
    width: 80px;
    left: 88px;
    top: 9px;
}

#door-crack3bis {
    width: 80px;
    left: 88px;
    top: 143px;
}

#door-crack3dashed {
    left: 126px;
    top: 91px;
}

#door-crack4 {
    width: 40px;
    left: 188px;
    top: 38px;
}

#door-crack4bis {
    width: 60px;
    left: 178px;
    top: 129px;
}

.door-glow {
    height: 20px;
    background-color: var(--door-glow-color);
    border-radius: 40%;
}

#door-glow1 {
    width: 60px;
    top: 60px;
    left: 20px;
}

#door-glow2 {
    width: 40px;
    top: 140px;
    left: 130px;
}

.window-bottom,
.window {
    border: 2px solid var(--border-color);
    position: relative;
    display: block;
}

.window {
    width: 40px;
    height: 60px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    background-color: var(--window-color);
    box-shadow: inset 6px 2px var(--window-shadow-color);
}

.window-bottom {
    width: 60px;
    height: 15px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    right: 12px;
    top: 56px;
    background-color: var(--castle-base-color);
}

#window-castle-base1 {
    top: 85px;
    right: 18px
}

#window-castle-base2 {
    top: 85px;
    right: 452px
}

.brick,
.line {
    position: relative;
    display: block;
}

.brick,
.brick-tower,
.brick-towerbis {
    width: 30px;
    height: 10px;
    flex-shrink: 0;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border: 2px solid var(--border-color);
    background-color: var(--castle-base-color);
}

.line {
    width: 8px;
    rotate: 90deg;
    border: 1px solid var(--border-color);
    bottom: 6px;
    left: 5px;
}

#brick-double {
    top: 5px;
    left: 15px;
}

#brick-castle-base1 {
    top: 50px;
    left: 19px;
}

#brick-castle-base2 {
    top: 80px;
    right: 292px;
}

#brick-castle-base3 {
    top: 260px;
    right: 452px;
}

.tower {
    width: 100px;
    height: 371px;
    background-color: var(--castle-base-color);
    position: relative;
    display: block;
    border: 2px solid var(--border-color);
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 0;
    box-shadow: inset -16px 7px var(--tower-shadow-color);
}

#tower1 {
    top: 387px;
    right: -1%;
}

#tower2 {
    left: 601px;
    bottom: 2252px;
}

#window-tower {
    position: relative;
    top: 40px;
    left: 28px
}

.brick-tower {
    position: relative;
    bottom: 27px;
    left: 67px;
    box-shadow: inset -15px 0px var(--tower-shadow-color);
}

.brick-towerbis {
    position: relative;
    top: 120px;
}

#glow-tower {
    position: relative;
    top: 90px;
    right: 36px;
    width: 100px;
}

.balcony {
    z-index: 2;
    width: 118px;
    height: 20px;
    border: 2px solid var(--border-color);
    background-color: var(--balcony-color);
    position: relative;
    right: 12px;
    bottom: 20px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: inline-flex;
    box-shadow: inset -30px 0px var(--balcony-shadow-color);
}

.pic {
    width: 30px;
    height: 15px;
    position: relative;
    bottom: 15px;
    right: 2px;
    display: flex;
    flex-shrink: 0;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    background-color: var(--balcony-color);
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}

#last-pic {
    box-shadow: inset -30px 0px var(--balcony-shadow-color);
}

.pic-separation {
    width: 14px;
    position: relative;
    display: flex;
    flex-shrink: 0;
    bottom: 20px;
}

.castle-base-second-floor {
    position: relative;
    z-index: -1;
    bottom: 885px;
    left: 62px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: 600px;
    height: 200px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    background-color: var(--castle-base-color);
    box-shadow: inset 0px 10px var(--tower-shadow-color);
}

#window-castle-second-floor1 {
    position: relative;
    top: 50px;
    left: 100px;
}

#window-castle-second-floor2 {
    position: relative;
    top: 50px;
    left: 235px;
}

#window-castle-second-floor3 {
    position: relative;
    top: 50px;
    left: 370px;
}

#balcony-second-floor {
    width: 690px;
    flex-shrink: 0;
    right: 175px;
}

.castle-separation,
.castle-separation-roof,
.roof-brick,
.tile {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    border: 2px solid var(--border-color);
    background-color: var(--castle-base-color);
}

.castle-separation {
    width: 100px;
    height: 200px;
    box-shadow: inset 16px 5px var(--tower-shadow-color);
}

.castle-separation-roof {
    width: 100px;
    height: 27px;
    bottom: 31px;
    right: 2px;
}

.tile {
    width: 33px;
    height: 17px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    right: 121px;
}

.roof-brick {
    width: 40px;
    height: 14px;
    top: 15px;
    right: 11px;
}

#castle-separation1 {
    right: 92px;
    top: 758px;
}

#tower3 {
    right: 191px;
    top: 958px;
    height: 321px;
}

#castle-separation2 {
    left: 700px;
    bottom: 2452px;
}

#tower4 {
    height: 321px;
    left: 799px;
    bottom: 2773px;
}

.tower-second-floor,
.tower-roof,
.flagpole,
.flag,
#flag2,
#flag3,
#flag4,
#flag5,
.roof-tile {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
}

.tower-second-floor {
    border: 2px solid var(--border-color);
    background-color: var(--castle-base-color);
    width: 80px;
    height: 120px;
    bottom: 258px;
    left: 8px;
    box-shadow: inset -10px 3px var(--tower-shadow-color);
}

#window-tower-roof {
    left: 18px;
    top: 10px;
}

.tower-roof {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 60px 130px 60px;
    border-color: transparent transparent var(--tower-roof-color);
    bottom: 698px;
    right: 10px;
}

#tower-roof-border {
    z-index: -1;
    bottom: 831px;
    right: 13px;
    border-width: 0 63px 135px 63px;
    border-color: transparent transparent var(--border-color);
}

#tower-roof-shadow {
    z-index: 2;
    bottom: 954px;
    left: 57px;
    rotate: -2deg;
    border-width: 0px 50px 121px 0;
    border-color: transparent transparent var(--tower-roof-shadow-color);
}

#tower-roof-sun {
    z-index: 2;
    border: transparent;
}

#tower-roof-glow {
    width: 40px;
    bottom: 450px;
    left: 20px;
}

.flagpole {
    width: 0px;
    height: 120px;
    border: 1px solid var(--border-color);
    bottom: 660px;
    left: 49px;
}

.flag {
    width: 40px;
    height: 30px;
    border: 2px solid var(--border-color);
    background-color: var(--flag-color);
}

#flag1 {
    bottom: 778px;
    left: 50px;
}

#flag2 {
    z-index: 2;
    flex-grow: 0;
    width: 0;
    height: 0;
    left: 36px;
    border-top: 17px solid var(--flag-color);
    border-right: 32px solid transparent;
}

#flag3 {
    z-index: 2;
    flex-grow: 0;
    width: 0;
    height: 0;
    left: 4px;
    top: 9px;
    border-right: 35px solid transparent;
    border-bottom: 17px solid var(--flag-color);
}

#flag4 {
    z-index: 1;
    width: 0;
    height: 0;
    bottom: 2px;
    right: 30px;
    border-right: 40px solid transparent;
    border-top: 20px solid var(--border-color);
}

#flag5 {
    z-index: 1;
    width: 0;
    height: 0;
    right: 69px;
    top: 11px;
    border-right: 40px solid transparent;
    border-bottom: 17px solid var(--border-color);
}

.roof-tile {
    width: 15px;
    height: 10px;
    border-bottom: 2px solid var(--border-color);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

#roof-tile1 {
    z-index: 2;
    bottom: 470px;
    left: 42px;
}

#roof-tile2 {
    z-index: 2;
    bottom: 440px;
    left: 20px;
}

#roof-tile3 {
    left: 15px;
}

#tower5 {
    z-index: -1;
    bottom: 51px;
    right: 92px;
}

#tower6 {
    z-index: -2;
    left: 700px;
    bottom: 1949px;
}

#third-floor-main-catle {
    position: relative;
    display: flex;
    z-index: -2;
    flex-shrink: 0;
    flex-grow: 1;
    width: 130px;
    height: 200px;
    bottom: 1272px;
    left: 289px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    background-color: var(--castle-base-color);
    box-shadow: inset -13px 8px var(--tower-shadow-color);
}

#window-main-castle-third-floor {
    left: 42px;
    top: 25px;
}

#main-castle-roof {
    bottom: 1892px;
    left: 270px;
    border-width: 0 85px 180px 85px;
}

#main-castle-roof-border {
    z-index: -1;
    bottom: 2075px;
    left: 267px;
    border-width: 0 88px 185px 88px;
    border-color: transparent transparent var(--border-color);
}

#main-castle-roof-shadow {
    z-index: 2;
    bottom: 2247px;
    left: 363px;
    rotate: -1deg;
    border-width: 0px 75px 171px 0;
    border-color: transparent transparent var(--tower-roof-shadow-color);
}

#main-castle-roof-sun {
    border: transparent;
}

#main-castle-roof-glow {
    bottom: 1553px;
    left: 298px;
    width: 80PX;
}

#main-castle-roof-tile1 {
    bottom: 1595px;
    left: 321px;
    z-index: 2;
}

#main-castle-roof-tile2 {
    bottom: 1540px;
    left: 343px;
    z-index: 2;
}

#main-castle-flagpole {
    bottom: 1823px;
    left: 354px;
    height: 150px;
}

#main-castle-flag1 {
    bottom: 1967px;
    left: 355px;
    height: 50px;
    width: 60px;
}

#main-castle-flag2,
#main-castle-flag3,
#main-castle-flag4,
#main-castle-flag5 {
    position: relative;
}

#main-castle-flag2 {
    z-index: 2;
    flex-grow: 0;
    width: 0;
    height: 0;
    left: 56px;
    border-top: 47px solid var(--flag-color);
    border-right: 70px solid transparent;
}

#main-castle-flag3 {
    z-index: 2;
    flex-grow: 0;
    width: 0;
    height: 0;
    right: 14px;
    bottom: 1px;
    border-right: 70px solid transparent;
    border-bottom: 47px solid var(--flag-color);
}

#main-castle-flag4 {
    z-index: 1;
    width: 0;
    height: 0;
    bottom: 2px;
    right: 82px;
    border-right: 73px solid transparent;
    border-top: 50px solid var(--border-color);
}

#main-castle-flag5 {
    z-index: 1;
    width: 0;
    height: 0;
    right: 154px;
    bottom: 2px;
    border-right: 73px solid transparent;
    border-bottom: 50px solid var(--border-color);
}